name: dotnet-core-build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: self-hosted

    steps:
    - name: helm dependencies
      run: helm-v2 dependency update platform-poc
    - name: helm push
      run: helm-v2 push platform-poc
